*{
    margin: 0;
    padding: 0;
}
.outerCard{
    height: 470px;
    width: 300px;
    /* border: 2px solid black; */
    border-radius: 15px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(231, 231, 231);
}
.outerCard:hover{
    box-shadow: 10px 15px 30px rgb(104, 102, 102);
    transition: 0.2s;
}

.imageOut{
    height: 320px;
    width: 300px;
    /* border: 2px solid red; */
}
.image{
    height: 320px;
    width: 300px;
    border-radius: 15px 15px 0px 0px;

}
.btn{
    height: 35px;
    width: 120px;
    /* border: 2px solid black; */
    background-color: rgb(187, 205, 211);
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}
.watch{
    font-size: 18px;
    font-weight: 700;
    padding-top: 5px;
    color: black;

}
.link{
    text-decoration: none;
}
.info1{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
}
.info2{
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
    text-align: center;
}