*{
    margin: 0;
    padding: 0;

}
.box{
    min-height: 10vh;
    height: auto;
    width: 100vw;
    background-color: white;
}
.navtxt{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    padding-top: 15px;
}