*{
    margin: 0;
    padding: 0;

}
.box{
    height: 10vh;
    width: 100vw;
    background-color: white;
}
.navtxt{
    color: black;
    text-align: center;
    font-size: 35px;
    padding-top: 15px;
}