*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainBox{
  height: auto;
  width: 100vw;
  /* border: 2px solid red; */
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(187, 205, 211);

}